@import './variable.scss';

@mixin common-style {
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

$typeObj: (
  primary: ($--color-primary, $--color-primary-light-7),
  success: ($--color-success, $--color-success-light-7),
  danger: ($--color-danger, $--color-danger-light-7),
  warning: ($--color-warning, $--color-warning-light-7),
  dark: ($--color-dark, $--color-dark-light-7)
);

@each $type, $typeArr in $typeObj {
  .lxt-alert__#{ $type } {
    @include common-style;
    color: nth($typeArr, 1);
    background-color: nth($typeArr, 2);
  }
}

.lxt-alert__content {
  padding-left: 5px;
}

.lxt-alert__close {
  position: absolute;
  right: 5px;
  top: 5px;
}